# Carpeta de salida de compilación
bin/
obj/

# Archivos de usuario específicos de Visual Studio
*.suo
*.user
*.sln.docstates

# Dependencias de NuGet
*.nuget.props
*.paket.restore
packages/

# Archivos de configuración local
*.vscode/
.vs/

# Archivos de configuración específicos del proyecto
*.csproj.user
*.userprefs
*.lock.json

# Archivos de registro y errores
*.log
*.errors

# Archivos temporales y cachés
*~
*.swp

# Archivos sensibles o locales
.env
.env.*

# Otros archivos generados automáticamente
_ReSharper*/
*.backup
*.bak