
.vs/SistemaGestionEmpleados/DesignTimeBuild/.dtbcache.v2
*.v2
*.v2
.vs/SistemaGestionEmpleados/DesignTimeBuild/.dtbcache.v2
*.dll
BDOO/bin/Debug/net8.0/BDOO.dll
SistemaGestionEmpleados/obj/Debug/net8.0/staticwebassets.development.json
*.json
